@charset "utf-8";

header {
  margin-top: 30px;
  color: #43a047;
}

hr {
  border-width: 3px;
  border-color: #43a047;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  color: #43a047;
}

.align-light {
  text-align: right;
}

.form-group {
  margin-bottom: 35px;
}

footer p {
  text-align: center;
}

indexmain {
  text-align: center;
}

input:required {
  background: #ffcdd2;
}

input[type="email"]:invalid {
  background: #ffcdd2;
}

input:valid {
  background: transparent;
}

input:focus {
  background: #dcedc8;
}

#pi_tracking_opt_in_yes {
font-size:0;
}

#pi_tracking_opt_in_yes{
  font-size: 0px;
}
#pi_tracking_opt_in_yes:before{
  font-size: 20px;
  content: "同意します";
}

#pi_tracking_opt_in_no:before{
  font-size: 20px;
  content: "同意しません";
}
/* CSS */
/* モーダルのスタイル */
.modal {
display: none; /* 初期状態では非表示 */
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4);
}
.modal-content {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}
.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
